<!DOCTYPE html>
<html>
    <head>
        <title>supplier_invoice</title>
        <meta charset="utf-8">
        <style> 
          <%- include('/root/iwxcollections2.0.0/public/styles/supplier_invoice.css'); %>
        </style>
    </head>
    <body>
        <h1>iwx</h1>

        <% Array.from( map.keys( ) ).forEach( supplier => { %>
             <div id="supplier_div">
                <div>
                   <span id="supplier_name">Name:
                     <%= supplier.supplier_first_name %>
                     <%= supplier.supplier_second_name %>
                   </span>
                   <span id="supplier_phone">Phone: 
                     <%= supplier.supplier_phone_number %>
                   </span>
                </div>

                <div>
                   <span id="supplier_email">Email:
                     <%= supplier.supplier_email %> 
                   </span>
                   <span id="supplier_account">Account:
                     <%= supplier.supplier_account_number %> 
                   </span>
                </div>

                <table id="table">
                   <tr>
                      <th id="image">Image</th>
                      <th id="name">Name</th>
                      <th id="quantity">Quantity</th>
                      <th id="price">Price</th>
                   </tr>
                                     
                   <% map.get( supplier ).forEach( order => { %>
                      <tr>
                        <td>
                          <img src= <%= `https://www.iwxcollections.ml/images/album/${order.url}` %> >
                        </td>
                        <td> <%= order.name %> </td>
                        <td> <%= order.quantity %> </td>
                        <td> <%= order.price %> </td>
                      </tr>
                   <% }); %>

                </table>
             </div>
        <% }); %>
 
    </body>
</html>
